html, body{
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}
button:hover{
	opacity: 0.8;
}
.top-section{
	height: 750px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
header{
	height: 100px;
	width: 80%;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.logo-icon{
	margin-right: 121px;
}
menu{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.menu-items{
	font-family: Helvetica;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 160%;
	/* identical to box height, or 26px */


	/* 1 */

	color: #4B5D68;
	margin-right: 40px;
	cursor: pointer;
}
.menu-items:nth-child(5){
	margin-right: 0px;
}
.menu-items:hover{
	font-family: Helvetica;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 160%;
	/* or 26px */


	/* 2 */

	color: #212353;
}
.request-btn{
	margin-left: auto;
	background: #FFFFFF;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
	border-radius: 50px;
	font-family: Helvetica;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	/* identical to box height, or 26px */

	display: flex;
	align-items: center;
	letter-spacing: 0.005em;

	/* 2 */

	color: #212353;
	width: 210px;
	height: 60px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(./images/arrow.svg);
	background-repeat: no-repeat;
	background-position: 92%;
}
.top-section-discription{
	width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./images/image1.png);
    background-repeat: no-repeat;
    background-position: 81% 143%;
    background-size: 53%;
    padding-left: 259px;
}
.discription-wrapper{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.top-tittle{
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	line-height: 110%;
	/* or 88px */

	display: flex;
	align-items: center;

	/* 2 */

	color: #212353;
}
.top-discription-wrapper{
	width: 51%;
	margin-top: 50px;
	margin-bottom: 50px;
}
.top-discription{
	font-family: Helvetica;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	/* or 29px */


	/* 1 */

	color: #4B5D68;
}
.top-btn{
	background: #9C69E2;
	border-radius: 50px;
	width: 170px;
	height: 60px;
	font-family: Helvetica;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	/* identical to box height, or 29px */

	text-align: center;
	border: none;

	color: #FFFFFF;
}
.pink-section{
	width: 100%;
	height: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pink-block{
	width: 80%;
	height: 560px;
	background: rgba(240, 99, 184, 0.15);
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	background-image: url(./images/image2.png);
	background-repeat: no-repeat;
	background-size: 46%;

}
.pink-discription-wrapper{
	width: 50%;
	height: 100%;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.pink-tittle{
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 130%;
	/* or 52px */

	color: #212353;
}
.pink-discription{
	font-family: Helvetica;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	/* or 29px */
	margin-top: 40px;


	/* 1 */

	color: #4B5D68;
	width: 78%;
}
.features-section{
	width: 100%;
	height: 1300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.features-tittle{
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 130%;
	/* identical to box height, or 52px */

	color: #212353;
	margin-top: 150px;
}
.features-discription{
	font-family: Helvetica;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	/* or 29px */
	margin-top: 50px;
	text-align: center;

	/* 1 */
	width: 40%;
	color: #4B5D68;
}
.features-bottom{
	width: 100%;
	height: 100%;
	margin-top: 150px;
	display: flex;
	justify-content: space-evenly;
}
.left-wrapper, .right-wrapper{
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 100%;
}
.left-first, .left-second{
	width: 100%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}
.first{
	background-image: url(./images/first.png);
	background-size: 40%;
    background-position: 4% 46%;
    background-repeat: no-repeat;
}
.second{
	background-image: url(./images/second.png);
	background-size: 40%;
    background-position: 4% 46%;
    background-repeat: no-repeat;
}
.third{
	background-image: url(./images/third.png);
	background-size: 40%;
    background-position: 4% 46%;
    background-repeat: no-repeat;
}
.fourth{
	background-image: url(./images/fourth.png);
	background-size: 40%;
    background-position: 4% 46%;
    background-repeat: no-repeat;
}
.left-wrap{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.tittle-features-bottom{
	font-family: Helvetica;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 130%;
	/* or 31px */

	color: #212353;
}
.bottom-disc{
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 160%;
	/* or 26px */
	margin-top: 20px;
	/* 1 */

	color: #4B5D68;
}
.bottom-btn{
	width: 200px;
	height: 50px;
	border: none;
	background-color: white;
	color: #212353;
	font-family: Helvetica;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	/* identical to box height, or 26px */
	margin-top: 20px;
	display: flex;
	align-items: center;
	letter-spacing: 0.005em;
	background-image: url(./images/arrow.svg);
	background-repeat: no-repeat;
    background-position: 69% 57%;
    background-size: 10%;

}
.testimonials-section{
	width: 100%;
	height: 990px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.testimonials-wrap{
	width: 1018px;
	height: 709px;
	/* 3 */
	background: #9C69E2;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 93px;
	padding-right: 76px;
}
.testimonials-tittle{
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 130%;
	/* identical to box height, or 52px */
	color: #FFFFFF;
}
.testimonials-white{
	width: 1000px;
	height: 330px;
	background: #FFFFFF;
	box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
	border-radius: 20px;
	display: flex;
	background-image: url(./images/white-bck.png);
	background-repeat: no-repeat;
	background-position: 11% 27%;
    background-size: 11%;
    margin-top: 88px;
}
.white-right{
	display: flex;
	flex-direction: column;
	width: 58%;
	height: 100%;
	justify-content: center;
	margin-left: 261px;

}
.white-tittle{
	font-family: Helvetica;
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	line-height: 160%;
	/* identical to box height, or 29px */
	letter-spacing: 0.005em;

	/* 2 */

	color: #212353;
}
.web{
	font-family: Helvetica;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 160%;
	/* or 22px */
	letter-spacing: 0.01em;

	/* 3 */

	color: #9C69E2;
}
.white-disc{
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 180%;
	/* or 32px */
	margin-top: 30px;

	/* 1 */

	color: #4B5D68;
}
.testimonials-bottom{
	width: 95%;
	display: flex;
	justify-content: space-between;
	margin-top: 63px;
}
.dots-icons{
	margin-left: 10px;
}
.arrow-icon{
	margin-left: 8px;
}
footer{
	width: 100%;
	height: 850px;
	display: flex;
	flex-direction: column;
}
.top-footer{
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
	border-top: 0.5px solid gray;

}
.top-footer-left{
	width: 584px;
	display: flex;
	flex-direction: column;
}
.footer-tittle{
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 130%;
	/* identical to box height, or 52px */


	color: #212353;
}
.footer-disc{
	font-family: Helvetica;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 160%;
	/* identical to box height, or 29px */


	/* 1 */

	color: #4B5D68;
}
.top-footer-right{
	width: 410px;
	display: flex;
	justify-content: space-between;
}
.footer-btn{
	width: 170px;
	height: 60px;
	background: #F063B8;
	border-radius: 50px;
	font-family: Helvetica;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 160%;
	/* identical to box height, or 29px */

	display: flex;
	align-items: center;
	justify-content: center;
	border: none;

	color: #FFFFFF;
}
.footer-btn2{
	width: 210px;
	height: 60px;
	background: #FFFFFF;
	box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
	border-radius: 50px;
	font-family: Helvetica;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 160%;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.005em;
	background-image: url(./images/arrow.svg);
	background-repeat: no-repeat;
	background-size: 11%;
	background-position: 93%;
	color: #212353;
}
.mid-footer{
	width: 100%;
	height: 100%;
	display: flex;
	margin-top: 153px;
	justify-content: space-evenly;
}
.col.col1{
	width: 300px;
}
.col{
	width: 200px;
	display: flex;
	flex-direction: column; 
	position: relative;
}
.top-col1{
	display: flex;
	width: 100%;
	align-items: center;
}
.tittle-foot{
	font-family: Avenir;
	font-style: normal;
	font-weight: 900;
	font-size: 20px;
	line-height: 160%;
	/* or 32px */


	/* 2 */

	color: #212353;
	margin-left: 20px;
}
.col1-par{
	font-family: Helvetica;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 180%;
	/* or 29px */

	letter-spacing: 0.01em;

	/* 2 */

	color: #212353;
	margin-top: 67px;
}
.email{
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 180%;
	/* or 29px */

	letter-spacing: 0.01em;

	/* 2 */

	color: #212353;
	margin-top: 10px;
}
.licence{
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 180%;
	/* or 22px */
	letter-spacing: 0.01em;

	/* 2 */

	color: #212353;
	margin-top: auto;
	margin-bottom: 96px;
}
.col-tittle{
	font-family: Avenir;
		font-style: normal;
		font-weight: 900;
		font-size: 16px;
		line-height: 160%;
		/* or 26px */


		/* 2 */

	color: #212353;
}
.col-items{
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 250%;
	/* or 40px */


	/* 2 */

	color: #212353;
	cursor: pointer;
}
.col-items:hover{
	color: gray;
}
.col-items-support:active{
	
}
.col-items-support-menu{
	position: absolute;
    width: 200px;
    height: 100px;
    background-color: white;
    top: 92px;
    display: flex;
    align-items: center;
    visibility: hidden;
}
.support-hidden{
	border: none;
	border-radius: 6px;
	background-color: #f1eded;
}
.col-tittle{
	margin-bottom: 30px;
}
.foot-icon-wrap{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
